SyslogRfc3164MessageSerializer - ASCII Encoding

evaluating the timestamp, we use three letters month name. 

_timestamp = String.Concat(dt.ToString("MMM "), day, dt.ToString(" HH:mm:ss"));_

In a non-english environment this may produce non-ASCII three letter month names, such as "Şub". And this reflects as "?ub" on the target syslog server.

_byte[] asciiBytes = Encoding.ASCII.GetBytes(headerBuilder.ToString());_

Does RFC enforce ASCII here, or can we use UTF8? Not a serious problem, I can revert to RFC 5424  easily. 




from [RFC 6587](https://tools.ietf.org/html/rfc6587)

> 3.1.  Character Encoding Scheme
> 
>    Syslog over TCP messages contain no indication of the coded character
>    set (e.g., [US-ASCII] or [UNICODE] ) or character encoding scheme
>    (e.g., so-called "7-bit ASCII" or UTF-8 [RFC3629]) in use.  In these
>    messages, the predominant approach has been to include characters
>    only from the ASCII repertoire (i.e., %d32 to %d126 inclusive) using
>    the "Network Virtual Terminal" (NVT) encoding [RFC5198].
> 
>    The message header usually contains characters only from the ASCII
>    repertoire, in the NVT encoding.  This has been observed even in
>    cases where a different encoding (e.g., UTF-8) has been used for the
>    MSG part.  However, characters outside the ASCII range have been seen
>    inside the header.  In that case, some syslog applications have been
>    known to experience problems processing those messages.

There is no strict enforcement, but the in common case, ASCII is being used.

from [RFC 3164](https://www.ietf.org/rfc/rfc3164.txt)

> 4.1.2 HEADER Part of a syslog Packet
> 
>    The HEADER part contains a timestamp and an indication of the
>    hostname or IP address of the device.  The HEADER part of the syslog
>    packet MUST contain visible (printing) characters.  The code set used
>    MUST also be seven-bit ASCII in an eight-bit field like that used in
>    the PRI part.  In this code set, the only allowable characters are
>    the ABNF VCHAR values (%d33-126) and spaces (SP value %d32).

As you can see, the RFC enforce ASCII in that case.